<strong>Bookmark:</strong>

<form novalidate name="bookForm"
      class="form-horizontal"
      ng-submit="saveBookmark(formBookmark.bookmark, bookForm)">

  <div class="form-group has-feedback"
       ng-class="{
                 'has-error':   bookForm.url.$invalid && bookForm.url.$dirty,
                 'has-success': bookForm.url.$valid   && bookForm.url.$touched
                 }">
    <div class="col-sm-2">
      <label> URL:</label>
    </div>
    <div class="col-sm-10">
      <input type="url" ng-model="formBookmark.bookmark.url" name="url"
             size="84" required
             ng-pattern="urlRegExp" />
      <p class="help-block" ng-messages="bookForm.url.$error">
        <span ng-message="required">URL is required</span>
        <span ng-message="pattern">URL must conform to URL format http[s]://...</span>
      </p>
    </div>
  </div>

  <div class="form-group has-feedback"
       ng-class="{
                 'has-error': bookForm.title.$invalid && bookForm.title.$dirty,
                 'has-success': bookForm.title.$valid && bookForm.title.$touched
                 }">
    <div class="col-sm-2">
      <label> Title:</label>
    </div>
    <div class="col-sm-10">
      <input type="text" ng-model="formBookmark.bookmark.title" name="title"
             size="84" required />
      <p class="help-block" ng-messages="bookForm.title.$error">
        <span ng-message="required">Title is required</span>
      </p>
    </div>
  </div>

  <div class="form-group has-feedback"
       ng-class="{
                 'has-error': bookForm.tagList.$invalid && bookForm.tagList.$dirty,
                 'has-success': bookForm.tagList.$valid && bookForm.tagList.$touched
                 }">
    <div class="col-sm-2">
      <label> Tags: <br /> (separated by commas)</label>
    </div>
    <div class="col-sm-10">
      <input type="text" ng-model="formBookmark.bookmark.tag_lst"
             ng-list name="tagList" class="form-control"
             required ng-pattern="tagsRegExp" />
      <p class="help-block" ng-messages="bookForm.tagList.$error">
        <span ng-message="required">Tag List is required</span>
        <span ng-message="pattern">Tags must be separated with a comma, ex: foo,bar,goo</span>
      </p>
    </div>
  </div>

  <div class="col-sm-10 col-sm-offset-2">
    <input type="submit" class="btn btn-sm btn-primary"
           ng-disabled="bookForm.$invalid || bookForm.$pristine" value="Save">
    <input type="button" class="btn btn-sm" ng-click="clearForm()" value="Clear">
  </div>

</form>
