<header>
  <h2>New Bookmark</h2>
</header>

<div class="row">
  <div class="col-md-12">
    <form action="/bookmarks" class="form" method="post">
      <%= erb :_bookmark_form %>
    </form>
  </div>
</div>
