Bookmark Base:
<form ng-submit="saveBookmark(formBookmark.bookmark)" class="form-horizontal">
  
  <div class="form-group">
    <label> URL:
      <input type="url" ng-model="formBookmark.bookmark.url" name="url">
    </label>
  </div>

  <div class="form-group">
    <label> Title:
      <input type="text" ng-model="formBookmark.bookmark.title" name="title">
    </label>
  </div>
    
  <input type="submit" class="btn btn-sm btn-primary" value="Save">
  <input type="button" class="btn btn-sm" ng-click="clearForm()" value="Clear">

</form>
